<div class="main__content w-100" id="category">

  <!--    СОЗДАНИЕ КАТЕГОРИИ-->
  <h1 class="mb-4 title"></h1>
  <div class="main__content_items">
    <div class="input-group w-50">
      <input type="text" class="form-control px-3 py-2 name" placeholder="Название.."
             aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="buttons d-flex align-content-center  mt-4">
      <button type="button" class="btn btn-success me-3 px-3 py-2 submit">
      </button>
      <button type="button" class="btn btn-danger cancel">Отмена</button>
    </div>
  </div>
</div>